main {
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: var(--background);
  height: 100vh;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    input{
      border: none;
      border-radius: 15px;
      width: 40%;
      height: 2.4rem;
      background-color: var(--primary);
      color: var(--text);
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      background-color: var(--primary);
      border-radius: 15px;
      height: 2.4rem;
      width: 6rem;
      color: var(--text);
      font-weight: 600;
      cursor: pointer;

      :hover {
        filter: saturate(120%);
      }
    }
  }
}